# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

permissions:
  contents: write
  packages: write

on:
  push:
    branches: [ "main", "dev/*" ]
  pull_request:
    branches: [ "main", "dev/*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean package
    - name: Create CBOM
      uses: PQCA/cbomkit-action@v2.1.1
      id: cbom
      # Persist CBOM after a job has completed and share
      # that CBOM with another job in the same workflow.
    - name: Commit changes to new branch
      uses: actions/upload-artifact@v4
      with:
        name: "CBOM"
        path: ${{ steps.cbom.outputs.pattern }}
        if-no-files-found: warn
    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@v5
      if: github.event_name != 'pull_request'
